<p><strong>Are you sure you want to delete <%= commercial_unit.street_address_and_unit %>?</strong></p>

<p>You will lose all photos, information, and comments related to this 
listing. There is no "undo" feature and we can not recover your data after 
this action.</p>
