<div class="center jumbotron">
  <h1>RealtyMonster RAWWWRRRR</h1>

  <h2>
  This is our new Zillow/Nestio replacement.
  </h2>

  <%= link_to "Sign up now!", "signup", class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>