<div class="center jumbotron">
  <h1>RealtyMonster RAWWWRRRR</h1>

  <h2>
  This is our new Zillow/Nestio replacement.
  </h2>

  Sign up as 
  <%= link_to "a new company", "companies/new", class: "btn btn-lg btn-primary" %>
   OR 
  <%= link_to "a new user", "signup", class: "btn btn-lg btn-primary" %>
</div>

<!--%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %-->