<% announcements.each do |announcement| %>
<div class="row row-no-padding">
  <div class="col-md-12">
    <%= render partial: 'announcements/announcement', 
      locals: { announcement: announcement } %>
  </div>  
</div>
<% end %>