<div class="row">
  <% @announcements.each_index do |idx| %>
    <% if idx % 4 == 0 && idx > 0 %>
      </div>
      <div class="row">
    <% end %>

    <div class="col-md-3">
      <%= render partial: 'announcements/announcement', 
        locals: { announcement: @announcements[idx] } %>
    </div>  
      
  <% end %>
</div>