<% provide(:title, 'Editing Office') %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="page-header">
		  <div class="row">
		    <div class="col-sm-7">
		    	<h1><small>Editing</small> <%= @office.name.titleize %></h1>
		    </div>
		    <div class="col-sm-5 form-label-responsive page-header-buttons-lg">
		      <td><%= link_to 'Show', company_office_path(@office.company, @office) %></td>
		    </div>
		  </div>
		</div>

		<%= render 'form' %>

	</div>
</div>
