<h1>Offices</h1>

<%= link_to 'New Office', new_company_office_path %>
<br /><br />

<% if @offices %>

<div class="row">
  <div class="col-md-12">
    
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Street Address</th>
          <th>City</th>
          <th>State</th>
          <th>Zipcode</th>
          <th>Telephone</th>
          <th>Fax</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>

        <%= render @offices %>
      </tbody>
    </table>

  </div>  
</div>

<% else %>
  <p>No offices listed yet. Why don't you <%= link_to 'create one', new_company_office_path %>?</p>
<% end %>