<div class="page-header">
  <div class="row">
    <div class="col-md-7">
      <h1><%= @company.name %> Offices</h1>
    </div>
    <div class="col-md-5 right">
      <br /><br />
      <% if current_user.is_company_admin? %>
        <%= link_to 'New Office', new_company_office_path %>
      <% end %>
    </div>
  </div>
</div>

<% if @offices %>

<div class="row">
  <div class="col-md-12">
    
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>Name</th>
          <th>Street Address</th>
          <th>Telephone</th>
          <th>Fax</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>

        <%= render @offices %>
      </tbody>
    </table>

  </div>  
</div>

<% else %>
  <p>No offices listed yet. Why don't you <%= link_to 'create one', new_company_office_path %>?</p>
<% end %>