<% provide(:title, "#{@company.name}'s Teams") %>
<h1><%= @office.name.titleize %>'s Managers</h1>

<div class="row">
  <div class="col-md-12">
    
    <% if @users.empty? %>
      There are no managers for this office yet. Why don't you <%= link_to "promote someone?", company_employees_path(current_user.company) %>
    <% else %>

      <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
          <tr>
            <th>Manager</th>
            <th>Headcount</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user_subordinates_path(user) %></td>
            <td><%= user.subordinates.length %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>

  </div>  
</div>
