<p>Thank you for submitting this Feedback Report!</p>
<p>We appreciate it. You should receive a response from one of the managers shortly. If you don't hear back within 12 hours, please contact your manager directly for an update.</p>
<br /><br />
<p>
- MySpace NYC 
</p>