<h2><%= @reporter.name %> has submitted this error report:</h2>

<% if @price_drop_request %>
  <p style="color: #3333FF; font-weight: bold;">*** Requesting a price drop ***</p>
<% end %>

<p><%= @message %></p>

<br />
<a href="http://realtyhunter.org:3000/residential_listings/<%=@listing.id%>/edit">View Listing</a> the unit's info.
<!-- <%#= link_to "View listing", edit_residential_listing_url(@listing) %> the unit's info. -->
