<div>Hi <%= @email_user %>,</div>
<br>
<div style="margin-left: 20px;">
	Your syndicated listing, <%= @listing.unit.building.street_number %>  <%= @listing.unit.building.route %>, Unit <%= @listing.unit.building_unit %>, has been refreshed by a Manager.
	Please go to Realty Hunter to re-claim this listing today.
</div>
<br>
<div>
	Thanks
	<br>
	MySpace NYC
</div>