<h1>Weekly Stale Pending Report</h1>

<p>
  Below are the listings marked as "pending" that have not been updated in over 2 weeks.
  <b>Tomorrow they will be flipped over to 'off-market status'</b> if not otherwise updated.
</p>

<% if @listings && @listings.size > 0 %>
  <% @listings.each do |l| %>
    <a href="http://realtyhunter.org:3000/residential_listings/<%= l.id %>">
      <%= l.street_address_and_unit %><br>
    </a>
  <% end %>
<% else %>
  <p>No listings found! Everything looks good.</p>
<% end %>

<p>Thanks,<br>
The Team at Myspace<p>
