<h1>Weekly Stale Pending Report</h1>

<p>
  Below are the listings marked as <em>pending</em> that have not been updated in over 2 weeks.
  They have now been moved to 'off-market' status.
</p>

<% if @data.count > 0 %>
  <%= @data.each do |listing| %>
    <a href="https://myspace-realty-monster.herokuapp.com/residential_listings/<%= listing.id %>">
      <%= listing.street_address_and_unit %><br>
    </a>
  <% end %>
<% else %>
  <p>No listings found! Everything looks good.</p>
<% end %>

<p>Thanks,<br />
The Team at Myspace<p>
