<% if !@t_info_name.name.blank? %>
	<div> Hi <%= @t_info_name.name %>,</div>
<% else %>
	<div>Hi, </div>
<% end %>
<br>
<div> Hope you're doing well!</div>
<br>
<div>We are working with your landlord at <%= @residential_listing.unit.building.street_number %> <%= @residential_listing.unit.building.route %>, to find new tenants for your apartment. To reduce the need for any in-person showings, we are asking current tenants for videos and some additional info. Would you be able to send us a quick 2-minute video today or tomorrow? Approximate dimensions of the bedrooms and any notes you have would also be extremely helpful.</div>
<br>
<div>To say thank you, we would be happy to send you a $25 Amazon Gift Card! You can submit your video directly from your phone using this form, https://myspacenyc.com/agents-login/video-uploads/, and it will register you for the gift card, too. </div>
<br>
<div>Please visit our site, https://myspacenyc.com/agents-login/video-instructions/, for more information and instructions.</div>
<br>
<div>Thanks for your help!</div>
<div>MySpace NYC</div>