<h3>Unit Updated By : <%= @user_name %></h3>
<h4>Address : <%= @building %></h4>
<h4>Unit : <%= @building_unit %></h4>
<h4>Listing Updated Time : <%= @time %> </h4>
<div>
	<h4>
		<div>Thanks & Regards</div>
		<div>MySpaceNYC</div>
	</h4>
</div>