<h3>Back On Market : (<%= @day_off_list.count %> Back on Market of day)</h3>
<% count = 0 %>
<% @day_off_list.each do |day_off_list| %>
	<% count = count + 1 %>
	<h4><%= count %> ) Unit</h4>
	<h4>Address : <%= Unit.find(day_off_list.auditable_id).building.formatted_street_address %></h4>
	<h4>Unit : <%= Unit.find(day_off_list.auditable_id).building_unit %></h4>
<% end %>
<div>
	<h4>
		<div>Thanks & Regards</div>
		<div>MySpaceNYC</div>
	</h4>
</div>