<h1>RealtyMonster</h1>

<p>Hi <%= @user.fname %>,</p>

<p>
Welcome to RealtyMonster! Click on the link below to activate your account and change your password:
</p>

<%= link_to "Activate", edit_activation_and_reset_url(@user.activation_token,
	email: @user.email) %>