<p>
  Hi <%= @user.fname %>,
</p>
<p>
  This is an automated notification letting you know have been removed as primary agent
  from <strong><%= @listing.street_address_and_unit %></strong>. Please contact your manager if you
  have any questions.
</p>
