$('#entryDetailModal .modal-title').html(
	"<%= j(@entry.name) %> - Additional Details");

$('#entryDetailModal .modal-body').html(
	"<p><b>Any notes for us?</b></p><%= j(@entry.any_notes_for_us) %>");


$('#entryDetailModal').modal('show');
