<% provide(:title, "My Waterfall") %>
<div id="waterfall">

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="page-header">
      
      <div class="row">
        <div class="col-md-6">
          <h1>My Waterfall</h1>
        </div>
        <div class="col-md-6 form-label-responsive">
        </div>
      </div>
    </div><!-- page header -->

    <% if @entries.blank? %>
      You have no waterfall agents underneath you.
    <% else %>
      <% @entries.each do |level, list| %>
      <div class="row">
        <div class="col-md-12">
          <% if level < 3 %>
            <h2>Level <%= level %></h2>
          <% else %>
            <h2>Special Agreement</h2>
          <% end %>

          <div class="row">
            <div class="col-md-3"><strong>Name</strong></div>
            <div class="col-md-3"><strong>Percentage</strong></div>
          </div>
          <% list.each do |entry| %>
            <div class="row">
              <div class="col-md-3">
                <%= entry.child_agent_name %>
              </div>
              <div class="col-md-3">
                <%= entry.rate %> %
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>

  </div><!-- main centering col -->
</div><!-- overall row -->


</div>