<h2><%= @reporter.name %> has submitted this error report:</h2>

<p><%= @building.inaccuracy_description %></p>

<br />
<%= link_to "Please login and update", edit_building_url(@building) %> the building's info.