<h1>New Building Created</h1>

<a href="https://myspace-realty-monster.herokuapp.com/buildings/<%= @building.id %>">
  <%= @building.formatted_street_address %>
</a>


<p>Thanks,<br />
The Team at Myspace</p>
