<% if current_user.is_company_admin? %>
<!-- display a row of 4 announcements on desktop, or 1 on mobile -->

<div class="row">
  <div class="col-md-12 hidden-xs hidden-sm">
    <div class="announcements">
      <%= render partial: "announcements/items_list", locals: { announcements: @announcement_items } %>
    </div>
  </div>
  <div class="col-md-12 hidden-md hidden-lg">
    <div class="announcements">
      <%= render partial: "announcements/items_list", locals: { announcements: [@announcement_items[0] ]} %>
    </div>
  </div>
</div>
<% end %>