<% @announcement_items.each do |announcement| %>
  <div class="announcements-mobile">
    <%= render partial: 'announcements/announcement_mobile',
      locals: { announcement: announcement, shorten_text: false } %>
  </div>
<% end %>
