
<!-- display a row of 4 announcements on desktop, or 1 on mobile -->

<div class="row">
  <div class="col-md-12 hidden-xs hidden-sm">
    <div class="announcements">
      <%= render partial: "announcements/top_row",
        locals: { announcements: @announcement_items, shorten_text: @shorten_text } %>
    </div>
  </div>
  <div class="col-md-12 hidden-md hidden-lg">
    <div class="announcements">
      <% if @announcement_items.length > 1 %>
        <%= render partial: "announcements/top_row",
          locals: { announcements: [@announcement_items[0]], shorten_text: @shorten_text } %>
      <% end %>
    </div>
  </div>
</div>
