<%= form_tag(check_in_residential_listings_path(), remote: true, method: :post) do |f| %>
  <div class="row checkIn-row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= select_tag(:listing_id,
          options_for_select(@check_in_listings.collect{|l| [l.street_address_and_unit, l.unit.listing_id]}),
          {prompt: "Choose one...",
          class: 'form-control'}) %>
    </div>
  </div>
  <div class="row checkIn-row checkIn-buttons">
    <div class="col-xs-5 col-xs-offset-1">
      <button type="button" class="btn btn-default js-cancel-check-in btn-lg btn-block">
        Cancel
      </button>
    </div>
    <div class="col-xs-5">
      <%= submit_tag 'Check in',
          class: 'btn btn-warning submit-link submit-btn disabled js-submit-check-in btn-lg btn-block',
          disabled: true %>
    </div>
  </div>
<% end %>
