<div id="footer-mobile-show">
  <div class="nav-button-wrapper">

    <a class="nav-button" href="mailto:someone@example.com?Subject=Hello%20again">
      <i class="fa fa-envelope fa-3x"></i>
    </a>

    <a class="nav-button"
      href="https://maps.google.com?daddr=<%= @residential_unit.unit.building.formatted_street_address %>">
      <i class="fa fa-car fa-3x"></i>
    </a>

  </div>
</div>
