<!--i class="listings-spinner-desktop"></i-->
<% @residential_unit.unit.images.each do |image| %>
	  <div class="img img-thumbnail col-xs-2" data-id="<%= image.id %>" data-unit-id="<%= @residential_unit.id %>">
	  	<%= image_tag image.file.url(:thumb), :class => 'img-responsive center-block', alt: image.file.url(:thumb) %>
	  	<%= link_to "Remove", "",
	  		class: 'btn btn-xs btn-link center-block delete-unit-img',
	  		"data-id": image.id, "data-unit-id": @residential_unit.id %>
	  	<!-- % = link_to "Rotate", "",
	  		class: 'btn btn-xs btn-link center-block rotate-unit-img',
	  		"data-id": image.id, "data-unit-id": @residential_unit.id % -->
	  </div>
<% end %>