<% @specific_residential_unit.unit.documents.each do |document| %>
	  <div class="doc img-thumbnail" data-id="<%= document.id %>" data-unit-id="<%= @specific_residential_unit.id %>">
	  	<%= link_to document.file_file_name, document.file.url %>
	  	<%= link_to "Remove", "", 
	  		class: 'btn btn-xs btn-link center-block delete-unit-doc', 
	  		"data-id": document.id, "data-unit-id": @specific_residential_unit.id %>
	  </div>
<% end %>