<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<p>
			You've selected the following listings:
		</p>
		<p>
			<%= @listings.map(&:street_address_and_unit).join("<br />").html_safe %>
		</p>
	</div>
</div>

<%= hidden_field_tag "listing_ids", params[:listing_ids] %>