<div class="row">
	<div class="col-md-12">
		<p>Are you sure you want to remove the primary agents from the following listings?</p>
	</div>
</div>
<div class="row">
<div class="col-md-11 col-md-offset-1">
		<p>
			<%= @listings.map(&:street_address_and_unit).join("<br />").html_safe %>
		</p>
	</div>
</div>

<%= hidden_field_tag "listing_ids", params[:listing_ids] %>