<% provide(:title, 'Residential Listings') %>

<div id="residential">
<div id="section-name" data-name="residential_listings">


<div class="mobile-container hidden-md hidden-lg">
  <div class="card-wrapper">

    <div class="card front">
      <!-- map, full screen on mobile -->
      <div id="r-big-map" data-map-points="<%= @map_infos %>"></div>
      <!-- announcements banner  -->
      <div class="flip-banner">
        New Announcements
      </div>
      <!-- footer -->
    </div>


    <div class="card back">
      <div class="flip-banner flipped">
        Back to map
      </div>
      <!-- render unread announcements -->
      New apt listed n stuff<br> yadda yadda...
    </div>


  </div>
</div>

