<% provide(:title, 'Residential Listings') %>

<div id="residential">
<div id="section-name" data-name="residential_listings">


<div class="mobile-container hidden-md hidden-lg">
  <div class="card-wrapper">

    <div class="card front card-visible">
      <div class="card-contents">

        <div class="flip-banner">
          <em>New Announcements</em>
        </div>

        <!-- map, full screen on mobile -->
        <div id="r-big-map" data-map-points="<%= @map_infos %>"></div>

        <div class="footer-mobile-residential">
          <div class="nav-button-wrapper">
            <a class="nav-button js-mobile-filters">
              <i class="fa fa-filter fa-3x"></i>
            </a>
            <div class="nav-button"><i class="fa fa-bell fa-3x"></i></div>
            <div class="nav-button"><i class="fa fa-compass fa-3x"></i></div>
            <div class="nav-button"><i class="fa fa-list fa-3x"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="card mobile-filters">
      <div class="card-contents">
        filters n stuff
      </div>
    </div>

    <div class="card back card-visible">
      <div class="card-contents">
        <div class="flip-banner flipped">
          <em>Back to map</em>
        </div>
        <div class="card-middle">
          <div class="announcements-wrapper">
            <%= render 'residential_listings/announcements_mobile',
            locals: {announcement_items: @announcement_items} %>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

