<% if @user.image %>
  <!-- display existing image -->
  <div class="img-medium">
    <%= image_tag @user.image.file.url(:medium), :class => 'img-responsive', 
      alt: @user.image.file.url(:medium) %>
    <!-- remove image -->
    <% if @user.is_management? %>
      <%= link_to "Remove", destroy_image_user_path(@user), remote: true, method: :delete,
        class: 'btn btn-xs btn-link center-block', 
        data: { confirm: "Are you sure you want to remove the profile picture?" } %>
    <% end %>
  </div>
<% else %>
  <!-- display placeholder image if none uploaded currently -->
  <%= image_tag "agent_soon.jpg", alt: "Agent image coming soon" %>
<% end %>