<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<% provide(:title, 'Edit Your Profile') %>
		<h1>Editing <%= @user.fname.titleize %>'s Profile </h1>
		<br />
		<%= render 'form' %>

	</div>
</div>