
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<% provide(:title, 'Edit Your Profile') %>

		<div class="page-header">
			<div class="row">
			  <div class="col-md-12">
		      <h1><small>Editing</small> <%= @user.name.titleize %></h1>
		    </div>
			  <div class="col-md-12 form-label-responsive">
			  	<!--%= link_to 'Show', @user %-->
		 		</div>
		 	</div>
		</div>
		
		<%= render 'form' %>

	</div>
</div>