
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<% provide(:title, 'Edit Your Profile') %>

		<div class="page-header">
			<div class="row">
			  <div class="col-sm-6">
		      <h1><small>Editing</small> <%= @user.name.titleize %></h1>
		    </div>
			  <div class="hidden-xs hidden-sm col-sm-6 form-label-responsive page-header-buttons-lg">
			  	<%= link_to 'Show', @user %>
		 		</div>

		 		<div class="hidden-lg hidden-md col-sm-6 form-label-responsive page-header-buttons">
			  	<%= link_to 'Show', @user %>
		 		</div>
		 	</div>
		</div>

		<%= render 'form' %>

	</div>
</div>
