<% provide(:title, 'New User Signup') %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Welcome to the RealtyMonster at <%= @company.name %></h1>
		<br />	
		<%= render 'new_user_form', :locals => {
            agent_title: @agent_title, 
            company: @company }  %>
	</div>
</div>


