<script>
  function initialize() {
    $('#companies_select').change(function() {
      $.ajax({
        url: "<%= update_offices_users_path %>",
        data: {
          company_id : $('#companies_select').val()
        },
        dataType: "script"
      });
    });
  };
  // TODO: get rid of document.ready
	$(document).ready(initialize);
</script>

<% provide(:title, 'New User Signup') %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1>Welcome to the RealtyMonster!</h1>      
        </div>
		  </div>
    </div>
		<%= render 'new_user_form', :locals => { agent_title: @agent_title, 
      company: @company }  %>
	</div>
</div>


