<% provide(:title, 'New User Signup') %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Welcome to RealtyMonster!</h1>
		<br />	
		<%= render 'new_user_form', :agent_title => @agent_title %>
	</div>
</div>


