<% @building.images.each do |image| %>
	  <div class="img-thumbnail col-xs-2" data-id="<%= image.id %>" data-bldg-id="<%= @building.id %>">
	  	<%= image_tag image.file.url(:thumb), :class => 'img-responsive center-block', alt: image.file.url(:thumb) %>
	  	<%= link_to "Remove", "", 
	  		class: 'btn btn-xs btn-link center-block delete-bldg-img', 
	  		"data-id": image.id, "data-bldg-id": @building.id %>
	  </div>
<% end %>
