<% @building.images.each do |image| %>
  <div class="img-thumbnail no-border">
  	<%= image_tag image.file.url(:thumb), alt: image.file.url(:thumb) %>
  	<%= link_to "Remove", building_image_path(@building, image), remote: true, method: :delete, 
  		class: 'btn btn-sm btn-link center-block delete-img', data: { confirm: 'Are you sure you want to delete this image?' } %>
  </div>

<% end %>
