<% @building.images.each do |image| %>
  <div class="img-thumbnail">
  	<%= image_tag image.file.url(:thumb), alt: image.file.url(:thumb) %>
  	<%= link_to "Remove", "", 
  		class: 'btn btn-sm btn-link center-block delete-img', 
  		"data-id": image.id, "data-bldg-id": @building.id %>
  </div>

<% end %>
