<%= form_for(building, url: send_inaccuracy_building_path(@building), remote: true) do |f| %>

	<div class="modal-body">
		<p>What's wrong at <%= @building.street_address %>? The more detail you can provide, the better.</p>

		<div class="field">
	    <%= f.text_area :inaccuracy_description, rows: 5, class: 'form-control' %>
	  </div>
	</div>
	<div class="modal-footer">
		<%= f.submit 'Send', class: 'btn btn-primary submit-link' %>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>

<% end %>
