<br />
<div class="row">
  <div class="col-sm-3">
    <%= label_tag :neighborhood, "Neighborhood" %>
  </div>
  <div class="col-sm-9">
  <%= select_tag(:neighborhood,
    options_for_select(Neighborhood.for_borough(@building.sublocality).collect {|n| [n.name]},
    [@building.neighborhood ? @building.neighborhood.name : '']),
    {prompt: "Choose one...",
    class: 'form-control'}) %>
  </div>
</div>
