
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="page-header">Editing <%= @building.formatted_street_address %></h1>

		<%= render 'form' %>

		<%= link_to 'Show', @building %> |
		<%= link_to 'Back', buildings_path %>
	</div>
</div>