<% if @company.image %>
  <!-- display existing image -->
  <div class="img-medium">
    <%= image_tag @company.image.file.url(:large), :class => 'img-responsive center-block',
      alt: @company.image.file.url(:large) %>
    <!-- remove image -->
    <%= link_to "Remove", destroy_image_company_path(@company), remote: true, method: :delete,
      class: 'btn btn-xs btn-link center-block',
      data: { confirm: "Are you sure you want to remove the company logo?" } %>

  </div>
<% else %>
  <!-- display placeholder image if none uploaded currently -->
  <div class="company-logo center-block">
    <i class="fa fa-user fa-fw fa-border center-block"></i>
  </div>
<% end %>
