<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<div class="page-header">
			<div class="row">
				<div class="col-md-12">
					<h1 class="hidden-xs hidden-sm">Register a New Company</h1>
					<h2 class="hidden-md hidden-lg">Register a New Company</h2>
				</div>
			</div>
		</div>
		
		<p>Thanks for joining RealtyMonster! We'll need some info 
		about your organization and your first company administrator user in order to get started.<p>
		<br />
		<%= render 'new_form' %>

	</div>
</div>


