<div class="available_by">
	<p>
		<strong>Available:</strong>
		<% if @residential_unit.available_by < Date.today %>
			Now
		<% else %>
			<%= @residential_unit.available_by %>
		<% end %>
	</p>
</div>