<div class="available_by">
	<p>
		<strong>Available by:</strong>
		<% if @residential_unit.available_by < Date.today %>
			Now
		<% else %>
			<%= @residential_unit.available_by.strftime("%Y-%b-%d") %>
		<% end %>
	</p>
</div>