<div class="market_status">
	<% if @residential_unit.status == "active" %>
	  <span class="green">On Market</span>
	<% elsif @residential_unit.status == "pending" %>
		<span class="green">On Market</span>
	  <span class="dark-orange">Pending Application</span>
	<% elsif @residential_unit.status == "off" %>
	  <span class="grey">Off Market</span>
	<% end %>
</div>