<%= form_for(residential_unit, url: residential_unit_take_off_path(@residential_unit), remote: true) do |f| %>

	<div class="modal-body">
		<p>Taking this unit off the market means it cannot be advertised, syndicated, or shared.</p>

		<div class="field">
			<%= f.label :available_by, "Update new lease end date" %>
	    <%= f.date_field :available_by, value: @residential_unit.calc_lease_end_date, class: 'form-control' %>
	  </div>
	</div>
	<div class="modal-footer">
		<%= f.submit 'Take off market', class: 'btn btn-danger submit-link' %>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>

<% end %>
