<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<% provide(:title, 'Editing Unit') %>
		<h1 class="page-header">
			<%= @residential_unit.building.formatted_street_address %>, <%= @residential_unit.building_unit %></h1>
	  			
		<%= render 'form' %>

	</div>
</div>