<!--div class="market_status"-->
	<% if @residential_unit.unit.status == "active" %>
	  <span class="green">On Market</span>
	<% elsif @residential_unit.unit.status == "pending" %>
		<span class="green">On Market</span>
	  <span class="dark-orange">Pending Application</span>
	<% elsif @residential_unit.unit.status == "off" %>
	  <span class="grey">Off Market</span>
	<% elsif @residential_unit.unit.status == "rsonly" %>
		<span class="green">Roomshare Only</span>
	<% end %>
	<% if !@residential_unit.roomfill.nil? && @residential_unit.roomfill == true  %>
		<span class="flex-even-item">
			<span class="green">|| Roomfill</span>
		</span>
	<% else %>
	<% end %>
	<% if !@residential_unit.partial_move_in.nil? && @residential_unit.partial_move_in == true  %>
		<span class="flex-even-item">
			<span class="green">|| Partial Move-in</span>
		</span>
	<% else %>
	<% end %>
<!--/div-->