$('#entryDetailModal .modal-title').html(
	"<%= j(@entry.name) %> - Additional Details");

$('#entryDetailModal .modal-body').html(
	"<p><b>Full Address</b></p>" + 
	"<%= j(@entry.full_address) %>" + 
	"<br /><br /><p><b>Utilities</b></p>" + 
	"<%= j(@entry.utilities) %>");

$('#entryDetailModal').modal('show');
