<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @building_amenity.name %>
</p>

<%= link_to 'Edit', edit_building_amenity_path(@building_amenity) %> |
<%= link_to 'Back', building_amenities_path %>
