.residential-announcement { 
	background-color: #FFF8C6 !important; // yellow
}

.commercial-announcement {
	background-color: #C6DEFF !important; // blue
}

.sales-announcement {
	background-color: #FEFCFF !important; // white
}

.event-announcement {
	background-color: #FFF8C6 !important; // red
}
