.residential-announcement {
	background-color: #FFF8C6 !important; // yellow
}

.commercial-announcement {
	background-color: #C6DEFF !important; // blue
}

.sales-announcement {
	background-color: #FEFCFF !important; // white
}

.event-announcement {
	background-color: rgba(249, 167, 176, 0.6) !important; // red
}

.announcement {
	padding-top: 0px;
	padding-bottom: 5px !important;
	.padding-left-sm2 {
		.padding-left: 0px;
	}
	.padding-top {
		padding-top: 5px;
	}
	.padding-right {
		padding-right: 10px !important;
	}
}

.announcement-fixed-height .well {
	height: 80px;
	overflow: hidden;
}

.well {
	padding: 10px 19px 10px 10px !important;
	// padding-top: 10px !important;
	// padding-bottom: 10px !important;
}

.listings-top-row {
	padding-top: 10px;
}
