.residential-announcement {
	background-color: #FFF8C6 !important; // yellow
}

.commercial-announcement {
	background-color: #C6DEFF !important; // blue
}

.sales-announcement {
	background-color: #FEFCFF !important; // white
}

.event-announcement {
	background-color: rgba(249, 167, 176, 0.6) !important; // red
}

.announcement-fixed-height .announcement-description {
	margin: 0;
	height: 50px;
	overflow: hidden;
}

.announcement.well {
	padding: 5px 5px 5px 7px;
}

.listings-top-row {
	padding-top: 10px;
}

