@import "bootstrap-sprockets";
$grid-float-breakpoint: 1150px;
$navbarCollapseWidth: 1150px;
@import "bootstrap";

/* universal */
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 60px;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Don't print link hrefs */
@media print {
  a[href]:after {
    content: none
  }
}

.margin-vertical {
  margin-top: 5px;
  margin-bottom: 5px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* for pdfs, don't page break inside a row */
table, tr, td, th, tbody, thead, tfoot {
  page-break-inside: avoid !important;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a:hover {
  background-color: transparent !important;
}

a:hover.btn-warning {
  background-color: #eb9114 !important;
}

li > a:hover {
  background-color: rgba(235, 145, 20, 0.3) !important;
}

a:hover.btn-danger {
  background-color: #C34B47 !important;
}

.container-fluid {
  position: relative;
  max-width: 1200px !important;
  min-width: 400px !important;
}

.no-margin-padding {
  margin-left: -15px !important;
  margin-right: -15px !important;
  padding: 0 !important;
}

// should always appear below navbar
.main-content {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  @media (max-width: $navbarCollapseWidth) {
    top: 50px;
  }
}

.mobile-container {
  position: relative;
  // perspective: 800px;
  top: -50px;
  width: 100%;
  height: 100%;
}

.title-logo {
  @media (max-width:414px) {
    padding: 15px;
  }
}

.datepicker {
  padding: 0 !important;
  margin: 0 !important;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.row-sm-padding {
  [class*="col-"] {
    padding-left: 5 !important;
    padding-right: 0 !important;
  }
}

.col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-sm-left-padding {
  padding-left: 2 !important;
  padding-right: 0 !important;
}

.no-right-padding {
  padding-right: 0;
}

.no-top-padding {
  padding-top: 0 !important;
}

.selected-sort {
  background-color: #F0F0F0;
}

.th-sortable:hover {
  background-color: #F0F0F0;
  a {
    text-decoration: none;
  }
}

// turn off scrollers on input type=number fields
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$state-danger-text: red;


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  //width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  border: 0px !important;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* Users index */
// .users {
//   list-style: none;
//   margin: 0;
//   li {
//     overflow: auto;
//     padding: 10px 0;
//     border-bottom: 1px solid $gray-lighter;
//   }
// }

.user-avatar-thumbnail {
  .fa-user {
    font-size: 50px;
    border: 1px solid #bbb;
  }
}
.user-avatar, .company-logo {
  .fa-user {
    font-size: 200px;
    border: 1px solid #bbb;
  }
}

.green {
  color: green;
};

.red {
  color: red;
}

.dark-orange {
  color: DarkOrange;
}

@media (max-width:768px) {
  .form-label-responsive {
    text-align: left;
  }
}
@media (min-width:768px) {
  .form-label-responsive {
    text-align: right;
    padding-right: 10px;
  }
}

// doesn't seem to work...
.button-to {
  background-color: purple;
  display: inline;
  margin: 0;
  padding: 0;
}

.inline {
  display: inline;
}

.link-as-button {
  color: white !important;
}

.pagination {
  margin-bottom: 10px;
  a {
    color: white !important;
  }
  @media (max-width:440px) {
    font-size: 1em !important;
  }
}

.thin-line {
  margin: 0 !important;
  padding: 0 !important;
}

/************ spinner ***************/
.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

/*********************************************/
.btn-as-checkbox.active {
  background-color: limegreen !important;
}

.form-section-header {
  background-color: $gray-lighter;
}

.no-vertical-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.status-off {
  color: gray;
};

/*********** Sortable images **********************************/

.sortable-placeholder {
  border: 1px dashed #CCC;
  background-color: #f9f9f9;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
}

.sortable {
  //display: list-item;
}

.no-padding {
  padding: 0 !important;
}

/*********** Residential Units **********************************/

.vertical-padding {
  padding-top: 3px;
  padding-bottom: 3px;
}

.horizontal-padding {
  padding-left: 3px;
  padding-right: 3px;
}

vertical-padding-lg {
  padding-top: 6px;
  padding-bottom: 6px;
}

.vertical-margin-lg {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.vertical-margin-sm {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.photo-inline {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px 2px 4px 2px;
}

.forms-spinner-desktop {
  position: absolute;
  left: 25%;
  top: 20%;
  z-index: 1;
}

.res-spinner-desktop {
  position: absolute;
  left: 25%;
  top: 20%;
  z-index: 1;
}

.room-spinner-desktop {
  position: absolute;
  left: 25%;
  top: 20%;
  z-index: 1;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.page-header-buttons {
  margin: 20px 0 10px 0;
  // @media (max-width:768px) {
  //   margin: 0;
  // }
}

.page-header-buttons-lg {
  margin: 40px 0 10px 0;
  // @media (max-width:768px) {
  //   margin: 0;
  // }
}

// buildings
.index-spinner-desktop {
  display: block;
  position: absolute;
  left: 15%;
  top: 18%;
  z-index: 1;
}

// landlords
.ll-spinner-desktop {
  position: absolute;
  left: 15%;
  top: 20%;
  z-index: 1;
}

// forms
label.required:after {
  content:" *";
  color: #2E8B57;
}

.explainer-text {
  color: #00008B;
}

.exclusive-listing {
  color: #3333FF;
}

// main index page
// dropdown
.selected-listings {
  display: inline-block;
}

.dropdown-menu > li > a {
  padding: 3px 10px !important;
}

.pdf-company-logo {
  padding-bottom: 20px;
  padding-right: 10px;
}

.pdf-table {
  border: none !important;
  border-collapse: collapse !important;

  td {
    border: none !important;
    border-collapse: collapse !important;
  }
  tr {
    border: none !important;
    border-collapse: collapse !important;
  }
  tr.heading-row {
    border: none !important;
    background-color: #A0A0A0 !important;
    color: white !important;
  }
  tr.neighborhood-row {
    border: none !important;
    background-color: #606060 !important;
    color: white !important;
  }
  th {
    border-top: none !important;
    border-bottom: none !important;
    //border-right: 1px solid #FFF !important;
    border-left: 1px solid #FFF !important;
  }

  .odd {
    background-color: rgb(242, 240, 240);
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

.vertical-align2 {
  vertical-align: center;
}

.inline {
  display: inline-block;
}

#landlords .panel-body,
#buildings .panel-body {
  padding-bottom: 0;
}

