/* Contains CSS shared across sales, residential and commercial listings */

/* desktop */

.img-col {
  max-width: 150px;
}

.img-medium {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: auto;
}

.sortable-img {
  display: block;
  height: 280px;
  background-color: #E5E4E2;
  border: 1px solid #888888;
  color: #85144b;
}

.sortable-img-placeholder {
  display: block;
  background-color: #FFFFC2;
  border: 1px solid #85144b;
}

.search-trigger {
  width: 100%;
}

/********* both desktop and mobile *****************/

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-even-item {
  flex: 1;
}

.btn.management-action-button {
  margin-bottom: 5px;
}

.exclusive-checkbox {
  padding-bottom: 5px;
}

.history-report {
  padding-bottom: 20px;
  font-size: 12px;
}

/********* mobile *****************/
/* We always want the mobile container to display full screen. Cards must be full height
and width so that it's middle content can expand to fill all available space */
.mobile-container {
  position: fixed;
  top: 51px; /* Display underneath top header bar */
  right: 0;
  bottom: 0;
  left: 0;
}

.card {
  width: 100%;
  height: 100%;
  display: none;
  overflow: hidden;
}

.card-visible {
  display: block;
}

.card-contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.button-remove{
  float: right;
  color: red;
}

.button-added{
  float: right;
}

.button-add{
 float: right; 
}

.button-remove-db{
  float: right;
  color: red;
}

.template {
    display: none;
}
button.btn.btn-primary.v-sam {
    margin-left: 220px;
}
.chng-bg{
  background-color: #d6d3d3;
}
.un-no{
  font-weight: bold;
}
#exampleModalLongTitle{
  text-align: center;
  font-weight: bold;
}