/* Contains CSS shared across sales, residential and commercial listings */

/* desktop */

.img-col {
  max-width: 150px;
}

/********* both desktop and mobile *****************/

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-even-item {
  flex: 1;
}

/********* mobile *****************/

.card-wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: calc(100vh - 50px);

  /* iphone5: Portrait and Landscape */
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-device-pixel-ratio: 2)  {
      //height: 475px;
  }
  /* iPhone 6: Portrait and Landscape */
  @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2) {
    height: calc(100vh - 120px);
  }
  /* iphone6+: Portrait and Landscape */
  @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px)
    and (-webkit-min-device-pixel-ratio: 3) {
    height: calc(100vh - 120px);
  }

  width: 100%;
  overflow: hidden;
  ::-webkit-scrollbar {
    display: none;
  }
}

.card {
  position: absolute;
  visibility: hidden;
  display: none;
  width: 100%;
  overflow: hidden;
}

.card-visible {
  visibility: visible;
  display: block;
}

.card-contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
