/* Contains CSS shared across sales, residential and commercial listings */

/* desktop */

.img-col {
  max-width: 150px;
}

/********* both desktop and mobile *****************/

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-even-item {
  flex: 1;
}

/********* mobile *****************/

.card-wrapper {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 70%);
  overflow: hidden;
  ::-webkit-scrollbar {
      display: none;
  }
}

.card {
  position: absolute;
  visibility: hidden;
  display: none;
  width: 100vw;
  overflow: hidden;
}

.card-visible {
  visibility: visible;
  display: block;
}

.card-contents {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 50px);
  overflow: scroll;

  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
}
