$grid-float-breakpoint: 1150px;
$navbarCollapseWidth: 1150px;

@import "announcements.scss";
@import "custom.scss";
@import "listings.scss";
@import "map.scss";
@import "residential_listing.scss";
@import "user.scss";
@import "scaffolds.scss";

@import "navbar.scss";
@import "modal-tweaks.scss";
@import "dropzone/dropzone";
@import "jquery.ui.all";
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "bootsy";
@import 'awesome-bootstrap-checkbox';
@import 'selectize';
@import 'selectize.default';

@media print {
  header, nav, footer, video, audio,
      .btn, .announcements, .inaccuracy-report, .history-report {
    display: none;
  }

  /*@page {
    margin: 0.5cm;
  }*/

  /*body {
    font: 12pt Georgia, "Times New Roman", Times, serif;
    line-height: 1.3;
  }*/

  .print-header {
    position: absolute;
    top: 0;
    margin: auto;
    width: 100%;
  }

  .print-header .title-logo,
  .print-header .title-user-name,
  .print-header .title-user-details, {
    display: inline-block;
  }

  .print-header .title-user-details {
    font-style: italic;
  }

  a {
    color: #000;
  }

  a:after {
    display: none;
  }

  .map-walkscore-tabs {
    page-break-before: always;
  }
}
