$mobile-footer-height: 65px;

/********* desktop *****************/

.res-desktop-search-filters {
  font-size: 12px;

  .form-control {
    font-size: 12px;
    height: 28px !important;
  }
}

.roommate_icon {
  margin-left:  3px;
  margin-right: 3px;
  display: inline !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}

.roommate_no_photo_icon {
  margin-left:   3px;
  margin-right:  3px;
  padding: 4px 3px 5px 5px;

  display: inline !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;

  .fa {
  	background-color: grey;
  	color: white;
  }
}

.word-wrap {
  word-wrap: break-word !important;
  white-space: normal !important;
}

#residential #basic-info .row.vertical-margin-lg {
  margin-left: 15px;
}

/********* both desktop and mobile *****************/

.hidden {
  display: none;
}

.fadeToInvisible {
  opacity: 0;
  transition: opacity 2s ease-in 1s;
}

.similarListings {
  background-color: #FDF6DF;
}

/********* mobile *****************/
.announcements .card-middle {
  height: calc(100% - 110px); /* account for the header & footer height */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.list-view .card-middle {
  height: calc(100% - 65px); /* account for the footer height */
  overflow-y: auto;
  overflow-x: hidden; /* in case there is a broken img link during development */
  -webkit-overflow-scrolling: touch;
}

.mobile-announcement {
  flex: 1;
}

.card-nav {
  display: inline-block;
  width: 100%;
  background-color: #eda800;
  font-size: 16px;
}

.card-nav-inner {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  padding-top: 5px;
  a {
    color: white;
  }
}

.left {
  cursor: pointer;
  text-align: left;
}
.middle {
  flex-grow: 1;
  text-align: center;
}
.right {
  cursor: pointer;
  text-align: right;
}

.link-run-search {
  padding-left: 10px;
  text-decoration: none;
}

.link-cancel-search {
  padding-right: 20px;
  text-decoration: none;
}

.link-reset-filters {
  padding-right: 20px;
  text-decoration: none;
}

.mobile-filters {
  background-color: #D3D3D3;

  .field-label {
    font-size: 2em;
  }

  .field-label-sm {
    font-size: 1.75em;
  }

  .row {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 0;
  }

  .end-of-page-padding {
    margin-bottom: 100px;
  }

  .resetButton {
    margin-top: 15px;
    margin-right: 15px;
  }
}

.mobileFilters-address-row.row {
  margin-right: 15px;
}

.selectize-wrapper.row {
  padding-right: 0;
}

.footer-wrapper {
  position: relative;
}

.checkIn-description {
  margin-top: 50px;
  margin-bottom: 25px;
}

.checkIn-disclaimer {
  font-style: italic;
}

.checkIn-row {
  margin-top: 0;
  margin-bottom: 30px;
}

.checkIn-spinner {
  margin: auto;
  position: relative;
  left: calc(50% - 50px);
  top: 50px;
}

.checkIn-form {
  position: absolute;
  top: 185px;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* index page footer */
.footer-mobile-residential {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $mobile-footer-height;
  background: #eda800;
}

#footer-mobile-show {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 62px;
  background: #eda800;
}

.nav-button-wrapper {
  display: flex;
  flex-direction: row;
}

.nav-button-wrapper > .nav-button {
  flex: 1;
  margin: 0;
  padding: 10px 0 10px 0;
  height: $mobile-footer-height;
  border: 0;
  background-color: #eda800 !important;
  color: black;
  text-align: center;
}

.resShow-mobileEmailIcon {
  margin-top: -8px;
}

.row-list-view {
  height: 100px;
}

.even {
  background-color: white;
}

.odd {
  background-color: #F2F2F2;
}

.minor-spacing {
  padding-top: 15px !important;
}

.minor-header {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 10px 0 8px 9px;
  border-bottom: 1px;
  background-color: #eda800;
  font-weight: bold;
  text-transform: uppercase;
}

.sm-margin-right {
  margin-right: 15px;
}

.favorites-table {
  background-color: #ffffe6
};

/******* show ******************/
.inaccuracy-report {
  background-color: #FBEFEF;
}

.mobile-show-page-wrap .history-report {
  margin-bottom: 100px;
}

#runit-panel > .panel-body {
  padding-bottom: 0;
}
.leaflet-popup-content{
  width: 210px !important;
}
.fa.fa-clone {
    padding: 5px;
}
.img-wrap {
    position: relative;
    float: left;
    margin-left: 25px;
    margin-bottom: 25px;
}
.img-wrap .close {
    position: relative;
    z-index: 100;
}

.effect {
    position: relative;
    border: 1px solid #ccc;
    -webkit-box-shadow: 5px 5px #CCC;
    box-shadow: 5px 5px #CCC;
    border-radius: 30px;
    padding: 8px;
}

.link_buttom_claim {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: green;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}


.link_buttom_disclaim {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: red;
    color: #FFF;
    padding: 8px 12px;
    text-decoration: none;
}

a[data-target="#demo"] {
  padding: 10px;
  display: block;
  border: solid #ccc 1px;
  border-radius: 5px;
  color: #888;
  text-decoration: none;
  width: 91%;
  box-shadow: inset 0px 1px 0px #eee;
  position: relative;
  margin-bottom: 3px;
}

a[data-target="#demo"] + div#demo {
  position: absolute;
  padding: 20px;
  z-index: 5;
  width: 500px;
  background: #eee;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 0
}

a[data-target="#demo"] + div#demo > div {
  width: 100%;
  padding: 2px 0 ;
  margin: 5px 0;
}

a[data-target="#demo"] + div#demo > div + div {
  border-top: dotted 1px #999;
  padding-top: 8px
}

a[data-target="#demo"] + div#demo > div:last-of-type {margin-bottom: 10px;}

a[data-target="#demo"] + div#demo > div input {
  margin: 0 5px 0 0;
  position: relative;
  top: 2px;
}

a[data-target="#demo"] + div#demo > div input + b {
  text-transform: uppercase
}

a[data-target="#demo"] + div#demo > div input[id*="child_with_parent"] {
  margin: 0 5px 10px 20px;
  
}
.glyphicon {
  font-size: 18px !important;
  line-height: 20px !important;
  display: block !important;
  margin: 0px 0 0 !important;
  padding: 5px 0;
}

.glyphicon + br {display: none;}

.mthsFree {
  padding: 3px 5px;
  background: #444;
  margin: 5px 0;
  display: inline-block;
  width: auto;
  color: #fff
}

.main-content {
  font-size: 12px;
  font-family: sans-serif;
  color: #444;
  line-height: 16px;
}

.residential_units_table_body tr td {
  font-size: 12px;
  font-family: sans-serif;
  color: #444
}

.residential_units_table_body tr td small {
  font-size: 12px;
  font-family: sans-serif;
  font-style: italic;
  color: #666
}

.residential_units_table_body tr td b {
  font-size: 14px;
}
.child-input {
width: 48% !important;
display: inline-block
}

a[data-target="#demo_neghb"] {
  padding: 10px;
  display: block;
  border: solid #ccc 1px;
  border-radius: 5px;
  color: #888;
  text-decoration: none;
  width: 91%;
  box-shadow: inset 0px 1px 0px #eee;
  position: relative;
  margin-bottom: 3px;
}

a[data-target="#demo_neghb"] + div#demo_neghb {
  position: absolute;
  padding: 20px;
  z-index: 5;
  width: 500px;
  background: #eee;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 0
}

a[data-target="#demo_neghb"] + div#demo_neghb > div {
  width: 100%;
  padding: 2px 0 ;
  margin: 5px 0;
}

a[data-target="#demo_neghb"] + div#demo_neghb > div + div {
  border-top: dotted 1px #999;
  padding-top: 8px
}

a[data-target="#demo_neghb"] + div#demo_neghb > div:last-of-type {margin-bottom: 10px;}

a[data-target="#demo_neghb"] + div#demo_neghb > div input {
  margin: 0 5px 0 0;
  position: relative;
  top: 2px;
}

a[data-target="#demo_neghb"] + div#demo_neghb > div input + b {
  text-transform: uppercase
}

a[data-target="#demo_neghb"] + div#demo_neghb > div input[id*="child_with_parent"] {
  margin: 0 5px 10px 20px;
  
}



a[data-target="#demo_build_feat"] {
  padding: 10px;
  display: block;
  border: solid #ccc 1px;
  border-radius: 5px;
  color: #888;
  text-decoration: none;
  width: 91%;
  box-shadow: inset 0px 1px 0px #eee;
  position: relative;
  margin-bottom: 3px;
}

a[data-target="#demo_build_feat"] + div#demo_build_feat {
  position: absolute;
  padding: 20px;
  z-index: 5;
  width: 500px;
  background: #eee;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 0
}

a[data-target="#demo_build_feat"] + div#demo_build_feat > div {
  width: 100%;
  padding: 2px 0 ;
  margin: 5px 0;
}

a[data-target="#demo_build_feat"] + div#demo_build_feat > div + div {
  border-top: dotted 1px #999;
  padding-top: 8px
}

a[data-target="#demo_build_feat"] + div#demo_build_feat > div:last-of-type {margin-bottom: 10px;}

a[data-target="#demo_build_feat"] + div#demo_build_feat > div input {
  margin: 0 5px 0 0;
  position: relative;
  top: 2px;
}

a[data-target="#demo_build_feat"] + div#demo_build_feat > div input + b {
  text-transform: uppercase
}

a[data-target="#demo_build_feat"] + div#demo_build_feat > div input[id*="child_with_parent"] {
  margin: 0 5px 10px 20px;
  
}


a[data-target="#demo_pet_policy"] {
  padding: 6px;
  display: block;
  border: solid #ccc 1px;
  border-radius: 5px;
  color: #888;
  text-decoration: none;
  width: 91%;
  box-shadow: inset 0px 1px 0px #eee;
  position: relative;
  margin-bottom: 3px;
}

a[data-target="#demo_pet_policy"] + div#demo_pet_policy {
  position: absolute;
  padding: 20px;
  z-index: 5;
  width: 500px;
  background: #eee;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  border: solid 1px #ccc;
  border-radius: 5px;
  margin: 0
}

a[data-target="#demo_pet_policy"] + div#demo_pet_policy > div {
  width: 100%;
  padding: 2px 0 ;
  margin: 5px 0;
}

a[data-target="#demo_pet_policy"] + div#demo_pet_policy > div + div {
  border-top: dotted 1px #999;
  padding-top: 8px
}

a[data-target="#demo_pet_policy"] + div#demo_pet_policy > div:last-of-type {margin-bottom: 10px;}

a[data-target="#demo_pet_policy"] + div#demo_pet_policy > div input {
  margin: 0 5px 0 0;
  position: relative;
  top: 2px;
}

a[data-target="#demo_pet_policy"] + div#demo_pet_policy > div input + b {
  text-transform: uppercase
}

a[data-target="#demo_pet_policy"] + div#demo_pet_policy > div input[id*="child_with_parent"] {
  margin: 0 5px 10px 20px;
  
}