
.margin-vertical {
  margin-top: 5px;
  margin-bottom: 5px;
}

.roommate_icon
{
  margin-left:  3px;
  margin-right: 3px;
  display: inline !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}

.roommate_no_photo_icon
{
  margin-left:   3px;
  margin-right:  3px;
  padding: 4px 3px 5px 5px;

  display: inline !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;

  .fa {
  	background-color: grey;
  	color: white;
  }
}

.word-wrap {
  word-wrap: break-word !important;
  white-space: normal !important;
}

.card-wrapper {
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;

  transform-style: preserve-3d;
  transition: transform 1s;
  transform-origin: right center;
}

.card-wrapper.flipped {
  transform: rotateY( 180deg );
  transform: translateX( -100% ) rotateY( -180deg );
}

.card {
  position: absolute;
  top: 0;
  left: 0;
}
.card-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 50px);
  overflow: hidden;

  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  -webkit-transition-property: opacity;
  -webkit-transition-timing-function: linear;
  -webkit-transition-duration: 0.2s;
}

.card.front {
  backface-visibility: hidden;
  opacity: 1;
}
.card.front.flipped {
  opacity: 0;
}

.card.back {
  transform: rotateY( 180deg );
  backface-visibility: hidden;
  opacity: 0;
}
.card.back.flipped {
  opacity: 1;
}

#r-big-map {
  order: 2;
  flex: 1;
  width: 100%;
  backface-visibility: hidden;
  @media (min-width:768px) {
    height: 600px;
    margin: 0;
    padding: 0;
  }
  @media (max-width:768px) {
    min-height: 100vw;
    height: 100vw;
  }
}

.flip-banner {
  flex-basis: 40px;
  order: 1;
  width: 100vw;
  height: 40px;
  background-color: #FFF8C6;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.footer-wrapper {
  position: relative;
}

.footer-mobile-residential {
  order: 3;
  flex-basis: 65px;
  height: 65px;
  width: 100%;
  background: #696969;
}

.footer-mobile-residential > .nav-button-wrapper {
  display: flex;
  flex-direction: row;
}

.footer-mobile-residential > .nav-button-wrapper > .nav-button {
  flex: 1;
  height: 65px;
  margin: 0;
  padding: 10px 0 10px 0;
  background-color: #eb9114 !important;
  color: black;
  text-align: center;
}
