$mobile-footer-height: 65px;

/********* desktop *****************/

.res-desktop-search-filters {
  font-size: 12px;

  .form-control {
    font-size: 12px;
    height: 28px !important;
  }
}

.roommate_icon {
  margin-left:  3px;
  margin-right: 3px;
  display: inline !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;
}

.roommate_no_photo_icon {
  margin-left:   3px;
  margin-right:  3px;
  padding: 4px 3px 5px 5px;

  display: inline !important;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 2px #888;
  -webkit-box-shadow: 0px 0px 2px #888;
  box-shadow: 0px 0px 2px #888;

  .fa {
  	background-color: grey;
  	color: white;
  }
}

.word-wrap {
  word-wrap: break-word !important;
  white-space: normal !important;
}

#residential #basic-info .row.vertical-margin-lg {
  margin-left: 15px;
}

/********* both desktop and mobile *****************/

.hidden {
  display: none;
}

/********* mobile *****************/
.announcements .card-middle {
  height: calc(100% - 110px); /* account for the header & footer height */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.list-view .card-middle {
  height: calc(100% - 65px); /* account for the footer height */
  overflow-y: auto;
  overflow-x: hidden; /* in case there is a broken img link during development */
  -webkit-overflow-scrolling: touch;
}

.mobile-announcement {
  flex: 1;
}

.card-nav {
  display: inline-block;
  width: 100%;
  background-color: #eda800;
  font-size: 16px;
}

.card-nav-inner {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  padding-top: 5px;
  a {
    color: white;
  }
}

.left {
  cursor: pointer;
  text-align: left;
}
.middle {
  flex-grow: 1;
  text-align: center;
}
.right {
  cursor: pointer;
  text-align: right;
}

.link-run-search {
  padding-left: 10px;
  text-decoration: none;
}

.link-cancel-search {
  padding-right: 20px;
  text-decoration: none;
}

.link-reset-filters {
  padding-right: 20px;
  text-decoration: none;
}

.mobile-filters {
  background-color: #D3D3D3;

  .field-label {
    font-size: 2em;
  }

  .field-label-sm {
    font-size: 1.75em;
  }

  .row {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 0;
  }

  .end-of-page-padding {
    margin-bottom: 100px;
  }

  .resetButton {
    margin-top: 15px;
    margin-right: 15px;
  }
}

.mobileFilters-address-row.row {
  margin-right: 15px;
}

.selectize-wrapper.row {
  padding-right: 0;
}

.footer-wrapper {
  position: relative;
}

/* index page footer */
.footer-mobile-residential {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $mobile-footer-height;
  background: #eda800;
}

#footer-mobile-show {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 62px;
  background: #eda800;
}

.nav-button-wrapper {
  display: flex;
  flex-direction: row;
}

.nav-button-wrapper > .nav-button {
  flex: 1;
  margin: 0;
  padding: 10px 0 10px 0;
  height: $mobile-footer-height;
  border: 0;
  background-color: #eda800 !important;
  color: black;
  text-align: center;
}

.resShow-mobileEmailIcon {
  margin-top: -8px;
}

.row-list-view {
  height: 100px;
}

.even {
  background-color: white;
}

.odd {
  background-color: #F2F2F2;
}

.minor-spacing {
  padding-top: 15px !important;
}

.minor-header {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 10px 0 8px 9px;
  border-bottom: 1px;
  background-color: #eda800;
  font-weight: bold;
  text-transform: uppercase;
}

.sm-margin-right {
  margin-right: 15px;
}

.favorites-table {
  background-color: #ffffe6
};

/******* show ******************/
.inaccuracy-report {
  background-color: #FBEFEF;
}

.mobile-show-page-wrap .inaccuracy-report {
  margin-bottom: 100px;
}

#runit-panel > .panel-body {
  padding-bottom: 0;
}
