<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<% provide(:title, 'Editing ' + @landlord.code) %>
		<h1>Editing <%= @landlord.code %></h1>

		<%= render 'form' %>

		<%= link_to 'Show', @landlord %> |
		<%= link_to 'View all', landlords_path %>
	</div>
</div>