<!-- Duplicate Modal -->
<div class="modal fade modal-fullscreen" id="sunitDuplicateModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Duplicate this item</h4>
      </div>
      <div id="placeholder-body"></div>
    </div>
  </div>
</div>

<!-- Take off Modal -->
<div class="modal fade modal-fullscreen" id="unitTakeOffModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Take Off Market</h4>
      </div>
      <div id="placeholder-body"></div>
    </div>
  </div>
</div>

