<div class="row">
  <div class="col-md-12">
    <br>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-condensed infinite-table">
        <thead>
          <tr>
            <th style="min-width: 45px;"><!-- checkboxes --></th>
            <th style="max-width: 105px;"><!-- first image --></th>
            <th data-sort="formatted_street_address" class="th-sortable">Address</th>
            <th data-sort="building_unit" class="th-sortable">Unit</th>
            <th data-sort="landlord_code" class="th-sortable">Landlord</th>
            <th style="min-width: 20%;">Access</th>
            <th data-sort="bed_and_baths" class="th-sortable">Beds/Baths</th>
            <th data-sort="available_by" class="th-sortable">Available</th>
            <th data-sort="price" class="th-sortable">Price</th>
            <th data-sort="updated_at" class="th-sortable">Updated</th>
            <th data-sort="status" class="th-sortable">Status</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody class="sales_units_table_body">
          <%= render sales_units %>
        </tbody>
      </table>
    </div>
  </div>
</div>
