
	<!-- footer -->
	<div class="footer-top-nav">
		<div class="footer-nav-inner">
			<div class="footer-nav">
				<ul id="menu-footer-nav-menu" class="menu"><li id="menu-item-105" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-105"><a href="/search/listings/rent/">Rentals</a></li>
<li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-104"><a href="http://myspacenyc.com/about/">About</a></li>
<li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-102"><a href="http://myspacenyc.com/list-with-us/">List with Us</a></li>
<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-103"><a href="http://myspacenyc.com/contact/">Contact</a></li>
</ul>			</div>
			<div class="footer-social">
				<ul id="menu-social-links" class="menu"><li id="menu-item-59" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-59"><a target="_blank" href="https://www.facebook.com/myspace.nyc.brooklyn">Facebook</a></li>
<li id="menu-item-60" class="twitter menu-item menu-item-type-custom menu-item-object-custom menu-item-60"><a target="_blank" href="https://twitter.com/myspacenyc">Twitter</a></li>
<li id="menu-item-95" class="instagram menu-item menu-item-type-custom menu-item-object-custom menu-item-95"><a target="_blank" href="https://instagram.com/myspacenyc/">Instagram</a></li>
<li id="menu-item-96" class="youtube menu-item menu-item-type-custom menu-item-object-custom menu-item-96"><a target="_blank" href="https://www.youtube.com/user/myspacenycbklyn">You Tube</a></li>
</ul>			</div>
		</div>
	
	</div>
	<footer class="footer" role="contentinfo">
		<div class="footer-nav-inner">
			<div class="footer-locations">
				<div id="text-4" class="widget_text"><h3>Our Offices</h3>			<div class="textwidget"><p>Open Sun-Friday 9:30-7:00<br />
Closed Saturdays<br />
800-416-5070</p>
</div>
		</div><div id="text-5" class="widget_text"><h3>Crown Heights</h3>			<div class="textwidget"><a href="https://www.google.com/maps/place/722+Franklin+Ave,+Brooklyn,+NY+11238/" target="_blank">
722 Franklin Ave.<br/>
Brooklyn, NY 11238
</a></div>
		</div><div id="text-6" class="widget_text"><h3>Bushwick</h3>			<div class="textwidget"><a href="https://www.google.com/maps/place/105+Central+Ave,+Brooklyn,+NY+11206/@40.7005291,-73.9289972,17z/" target="_blank">
105 Central Ave.<br/>
Brooklyn, NY 11206
</a></div>
		</div><div id="text-7" class="widget_text"><h3>Williamsburg</h3>			<div class="textwidget"><a href="https://www.google.com/maps/place/713+Lorimer+St,+Brooklyn,+NY+11211/@40.718151,-73.950328,17z/" target="_blank">
713 Lorimer St.<br/>
Brooklyn, NY 11211
</a></div>
		</div><div id="text-8" class="widget_text"><h3>Lefferts Gardens</h3>			<div class="textwidget"><p><a href="https://www.google.com/maps/place/661+Flatbush+Ave,+Brooklyn,+NY+11225/@40.6571105,-73.9599322,17z/" target="_blank">661 Flatbush Ave.<br />
Brooklyn, NY 11225</a><br />
Coming soon!</p>
</div>
		</div><div id="text-9" class="widget_text"><h3>Williamsburg</h3>			<div class="textwidget"><p><a href="https://www.google.com/maps/place/661+Flatbush+Ave,+Brooklyn,+NY+11225/@40.6571105,-73.9599322,17z/" target="_blank">(Main Office)<br />
297 Broadway<br />
Brooklyn, NY 11211</a><br />
Coming soon!</p>
</div>
		</div>			</div>

			<div class="footer-bottom"> 
					<div class="terms">
						<a href="/terms">Terms & Privacy</a>
					</div>
					<!-- /copyright -->
					<div class="copyright"> 
						&copy; 2015 MySpace NYC Corp. All Rights Reserved. &nbsp; Equal Opportunity Housing. <img src="http://myspacenyc.com/wp-content/themes/myspacenyc-blankslate/img/fheo.png" class="footer-fheo" />   
						 <a href="//blankslate.com" target="_blank" title="BlankSlate" class="blankslate-logo"><img src="http://myspacenyc.com/wp-content/themes/myspacenyc-blankslate/img/blankslate-logo.png" /></a>
					</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
