<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<%= wicked_pdf_stylesheet_link_tag 'pdf', media: 'print' %>

	
</head>
<body>
	<div id="main-container" class="container">

		<%= yield %>
	</div>
</body>
</html>

